<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.game">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--各种活动-->
        <activity
            android:name="com.game.Activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name="com.game.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.game.Activity.WebHelpActivity" />
        <activity android:name="com.game.Activity.LoginActivity" />
        <activity android:name="com.game.Activity.ChartsActivity" />
        <activity android:name="com.game.Activity.InfoActivity" />

        <!--各种服务-->
        <service android:name="com.game.Service.BackGroundMusicService" />
    </application>

</manifest>